
html {
    font-family: "Inter", sans-serif;
    background-color: black;


}

* {
    margin: 0px;
    padding: 0px;
}

:root{
    --greyDark: #333333;
    --greyLight: #d6d6d6;
    --greyLight2: #a1a1a6;
    --white: #f5f5f7;
    --text: #1d1d1f;
    --blue: #0071e3;
    --a: #2997ff;
}

/*nav bar*/
.nav {
    justify-content: center;
    display: flex;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    position: fixed;
    margin: auto;
    z-index: 1000;
}

.nav a, .nav .dropdown {
    background-color: none;
    border: none;
    text-decoration: none;
    color:#d6d6d6;
    padding: 15px 15px;
    font-size: 12px;
}



.nav .dropdown-content {
    top: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: black;
    opacity: 1; 
    visibility: hidden;
    z-index: -1;
    padding: 80px 160px;
    margin-top: -45px;
}
.nav a:hover, .dropdown-content .row ul li a:hover {
    color: white; /* Change to white on hover */
    transition: color 0.2s ease; /* Optional: Smooth transition */
    z-index: 999;
}

.nav .dropdown:hover .dropdown-content {
    visibility: visible; /* Show the dropdown on hover */
}

.dropdown-content {
    position: absolute;
    float:none;
    margin: 0px;
    text-align: left;
    background-color: black;
    left:0;
    top:0;
    width: 100%;
    height: 400px;
    opacity: 50;
    visibility: hidden;
    padding: 80px;
}

.dropdown-content .row ul li {
    list-style: none;
}

.dropdown-content .row ul li a{
    font-family: "Inter";
    font-weight: 200;
    display: block;
    background-color: none;
    line-height: 30px;
    font-size: 30px;
    color: var(--greyLight);
}
.dropdown-content .row ul li .header{
    font-family: "Inter";
    font-weight: 600;
    display: block;
    background-color: none;
    line-height: 30px;
    font-size: 40px;
}

.row{
    float:left;
    width: 20%;
}

#accessories {
    width:40%;
    
    li a {font-size: 18px;
    }
    
}

#accessories .header {
    font-size: 24;
}
    

/* content */
.body {
    margin-top:45px;
    position: absolute;
}

.message {
    position: static;
    width: 100%;
    height: 50px;
    background-color: white;
    line-height:50px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;

}

.content img{
    width: 100vw;
    height: 88vh; /* Set the image height to 100% of the viewport height */
    object-fit: cover; /* Ensure the image covers the area and crops the sides if necessary */
    object-position: center; 

}

.content {
    position: static;
    top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.content a {
    position: absolute;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 0px;
    width: 150px;
    text-align: center;
    border-radius: 90px;
    margin-top: 500px;
    font-size: 18px;
    font-weight: 200;
}
.lm {   
    background-color: var(--blue);
    padding:1px;
    color: #d6d6d6;
    margin-right: 200px;
    &:hover{
        background-color: var(--a);
        border-color: var(--a);
        color: white;
    }
}



.td {
    background-color: rgba(256, 256, 256, 0.5);
    padding:1px;
    color: var(--blue);
    margin-left: 200px;
    &:hover{
        background-color: var(--a);
        border-color: var(--a);
        color: white;
}
}

.sqcard {
    display: flex;
    align-items: flex-start;
    flex: 1;
    margin-bottom:110px ;

}

.content2  {
    width: 50vw;
    height: 60vh; /* Set the image height to 100% of the viewport height */
    object-fit: cover; /* Ensure the image covers the area and crops the sides if necessary */
    object-position: center; 


}

.calculator {
    background-color: beige;
    padding: 50px;
    display: flex;
    flex-direction: column;
    line-height: 45px;
    margin: 10px;
    margin-right: 5px;
    color: rgb(17, 61, 61);
    font-size: 16px;
    align-items: center;
    height: 100%;

}



.crow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 16px;


}

label {
    margin-right: 20px;
}
.calculator input, button {
    border-radius: 90px;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

 button {
    width: 150px;
    text-align: center;
    background-color: #01FF70;
    color: white;

}

input {
    background-color: white;
    width: 150px;
    text-align: center;
    color: rgb(17, 61, 61);
    &:focus {
        outline: none;
      }

}

.money {
    color: #01FF70;
}

.tradein {
    margin: 10px;
    margin-left: 5px;
    background-color: beige;
    padding: 50px;
    text-align: center;
    height: 100%;
    color: rgb(17, 61, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        padding: 10%;
        padding-top: 10px;
        padding-bottom: 20px;
        color: rgb(17, 61, 61);
    }
    
    img {
        width:300px;
        padding-top: 50px;
    }
    button {
        width: 200px;
    }
}

.warrenty {
    background-color: beige;
  
    margin: 10px;
    margin-right: 5px;
    color: rgb(17, 61, 61);
    font-size: 16px;
    height: 100%;



    background-color: beige;
    padding: 50px;
    text-align: center;
    height: 100%;
    color: rgb(17, 61, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        padding: 10%;
        padding-top: 10px;
        padding-bottom: 20px;
        color: rgb(17, 61, 61);
    }
    
    img {
        width:400px;
        padding-top: 50px;
    }
    
}

.insurance {
    margin: 10px;
    margin-left: 5px;
    background-color: beige;
    padding: 50px;
    text-align: center;
    height: 100%;
    color: rgb(17, 61, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        padding: 10%;
        padding-top: 10px;
        padding-bottom: 20px;
        color: rgb(17, 61, 61);
    }
    
    img {
        width:300px;
        padding-top: 50px;
    }
    button {
        width: 150px;
    }
}

.reviewTrack {
    margin-top: 120px;
    height: 195px;
    margin-bottom: 10px;
    width: 100vw;  /* Full width */
    display: flex;  /* Arrange reviews in a row */
    overflow-x: auto;  /* Allow horizontal scrolling */
    pointer-events: none;  /* Disable mouse interaction */


}

.review {
    background-color: white;
    width: 350px;  /* Fixed width for each review card */
    padding: 35px;
    margin-right: 10px;
    flex-shrink: 0;  /* Prevent shrinking */
    animation: scrollReviews 50s linear infinite;  /* Apply the scrolling animation */

}

.review h3 {
    margin-bottom: 10px;
}

/* Keyframe animation to scroll the reviews */
@keyframes scrollReviews {
    0% {
        transform: translateX(0);  /* Start at the original position */
    }
    100% {
        transform: translateX(-4300px );  /* Move left by the width of one review */
    }
}